<template>
  <div :class="$style.stage" ref="stage">
    <canvas :class="$style.canvas" ref="canvas"></canvas>
    <div :class="$style.accent"></div>
    <div :class="$style.accentTwo"></div>

    <vue-grid>
      <vue-grid-row>
        <vue-grid-item class="vueGridItem">
          <div>
            <h4>Homework</h4>
          </div>
          <div class="content">
            <table>
              <thead>
                <tr>
                  <td>
                    ID
                  </td>
                  <td>
                    Name
                  </td>
                  <td>
                    Address
                  </td>
                  <td>
                    Email
                  </td>
                  <td>
                    Age
                  </td>
                  <td>
                    Actions
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="entry in entries">
                  <td>{{entry._id}}</td>  
                  <td>{{entry.name}}</td>  
                  <td>{{entry.address}}</td>  
                  <td>{{entry.email}}</td>  
                  <td>{{entry.age}}</td>  
                  <td><button v-on:click="editEntry(entry._id)">Edit</button><button v-on:click="deleteEntry(entry._id)">Delete</button></td>  
                </tr>
              </tbody>
            </table>
            <div>
              <label>Name</label>
              <input type="text" v-model="newEntry.name" placeholder="John Doe">
              <label>Address</label>
              <input type="text" v-model="newEntry.address" placeholder="Some kind of address here">
              <label>Email</label>
              <input type="email" v-model="newEntry.email" placeholder="something@email.tld">
              <label>Age</label>
              <input type="number" v-model="newEntry.age" placeholder="a number">
              <button v-on:click="addNew">Add new</button>
            </div>
          </div>
        </vue-grid-item>
      </vue-grid-row>
    </vue-grid>
  </div>
</template>

<script lang="ts">
  import { CircleAnimation } from '../../shared/animations/CircleAnimation';
  import VueGrid             from '../../shared/components/VueGrid/VueGrid';
  import VueGridRow          from '../../shared/components/VueGridRow/VueGridRow';
  import VueGridItem         from '../../shared/components/VueGridItem/VueGridItem';
  // import Vue                 from 'vue';
  // import VueResource         from 'vue-resource';
  // Vue.use(VueResource);
  const axios = require('axios');
  export default {
    components: { VueGridItem, VueGridRow, VueGrid },
    props:      {},
    data() {
      return {
        apiUrl: 'http://34.247.92.186/api/people/',
        newEntry: {
          name: "",
          address: "",
          email: "",
          age: ""
        },
        entries: []
      };
    },
    computed:   {},
    methods:    {
      handleResize() {
        const canvas: HTMLCanvasElement = this.$refs.canvas;
        const stage: HTMLElement = this.$refs.stage;
        const stageRect: ClientRect = stage.getClientRects().length > 0 ? stage.getClientRects().item(0) : {
          width:  0,
          height: 0,
        } as ClientRect;

        canvas.width = stageRect.width;
        canvas.height = stageRect.height;
      },
      getAll(){
        axios.get(this.apiUrl).then(response => {
          this.entries = response.data;
        }, response => {
          console.error(response);
        });
      },
      addNew(){
        const params = new URLSearchParams();
        params.append('name', this.newEntry.name);
        params.append('address', this.newEntry.address);
        params.append('email', this.newEntry.email);
        params.append('age', this.newEntry.age);
        axios.post(this.apiUrl, params, {
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        }).then(response => {
          this.getAll();
        }, response => {
          console.error(response.body.message);
        });
      },
      editEntry(id){
        //this should be an actual edit
        axios.put(this.apiUrl + id, this.newEntry, {
          emulateJSON: true,
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        }).then(response => {
          this.getAll();
        }, response => {
          console.error(response.body.message);
        });
      },
      deleteEntry(id) {
        let confirm = window.confirm("Are you sure you want to delete this one?");
        if (confirm == true) {
            axios.delete(this.apiUrl + id, {
              headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
              }
            }).then(response => {
              this.getAll();
            }, response => {
              console.error(response.body.message);
            });
        } else {
            //do nothing
        }
      }
    },
    beforeMount() {
      window.addEventListener('resize', this.handleResize);
      this.getAll();
    },
    mounted() {
      this.handleResize();

      CircleAnimation(this.$refs.canvas);
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.handleResize);
    }
  };
</script>

<style lang="scss" module>
  @import "../../shared/styles";

  .content {
    background-color: #404040;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    border-radius: 0;
    margin: 0;
    padding: 20px;
  }

  td {
    padding: 5px 10px;
    background-color: rgba(70, 58, 58, 0.5);
    border: 1px solid  rgba(70, 58, 58, 0.5);
  }

  .stage {
    min-height: 100vh;
    background: linear-gradient(171deg, $brand-dark-primary 0%, $brand-primary 100%);
    overflow:   hidden;
    position:   relative;
    text-align: center;
    @include background-gradient($brand-dark-primary, $brand-primary, 171deg);
  }

  .accent {
    width:      56%;
    min-height: 100vh;
    transform:  skewX(-40deg) translateX(100%);
    box-shadow: $nav-bar-shadow;
    position:   absolute;
    transition: transform 250ms linear;
    @include background-gradient($brand-light-primary, $brand-dark-primary, -171deg);

    @include media(tabletPortrait) {
      transform: skewX(-33deg) translateX(100%);
    }

    @include media(tabletLandscape) {
      transform: skewX(-44deg) translateX(100%);
    }

    @include media(smallDesktop) {
      transform: skewX(-46deg) translateX(117%);
      width:     49%;
    }
  }

  .accentTwo {
    width:      56%;
    min-height: 100vh;
    transform:  skewX(30deg) translateX(-57%);
    box-shadow: $nav-bar-shadow;
    position:   absolute;
    transition: transform 250ms linear;
    @include background-gradient($brand-accent, $brand-light-primary, -171deg);

    @include media(tabletPortrait) {
      transform: skewX(37deg) translateX(-29%);
    }

    @include media(tabletLandscape) {
      transform: skewX(38deg) translateX(-29%);
    }

    @include media(smallDesktop) {
      transform: skewX(38deg) translateX(-19%);
      width:     49%;
    }
  }

  .canvas {
    min-height:       100vh;
    width:            100%;
    position:         absolute;
    background-color: transparent;
    left:             0;
    top:              0;
  }

  .title, .subTitle, .github {
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.33);
    position:    relative;
  }

  .title {
    top: $space-unit * 17;

    @include media(tabletPortrait) {
      top: $space-unit * 24;
    }

    @include media(tabletLandscape) {
      top: $space-unit * 26;
    }
  }

  .subTitle {
    top: $space-unit * 15;

    @include media(tabletPortrait) {
      top: $space-unit * 22;
    }

    @include media(tabletLandscape) {
      top: $space-unit * 24;
    }
  }

  .github {
    font-size:           $font-size-h1;
    top:                 $space-unit * 17;
    box-shadow:          $nav-bar-shadow;
    display:             inline-block;
    background:          $nav-bar-bg;
    transition:          $button-transition;
    transition-property: box-shadow, background-color;
    color:               $text-color;
    padding:             $button-padding;

    &:hover {
      box-shadow: $button-active-shadow;
    }

    @include media(tabletPortrait) {
      top: $space-unit * 30;
    }

    @include media(tabletLandscape) {
      top: $space-unit * 42;
    }
  }
</style>
