<template>
  <div :class="$style.home">
    <stage />
    <div>
      <h4>Multiple select test</h4>
      <div>
        <select v-model="aColumn">
          <option value="all" v-if="firstSelectOptions.length > 1">All</option>
          <option v-for="entry in firstSelectOptions" selected>{{entry}}</option>
        </select>
        <select v-model="bColumn">
          <option value="all" v-if="secondSelectOptions.length > 1">All</option>
          <option v-for="entry in secondSelectOptions">{{entry}}</option>
        </select>
        <select v-model="cColumn">
          <option value="all" v-if="thirdSelectOptions.length > 1">All</option>
          <option v-for="entry in thirdSelectOptions">{{entry}}</option>
        </select>
        <div>
          <ul v-for="entry in options">
            <li v-show="entry.valid.length == 0">{{entry.firstColumn}}, {{entry.secondColumn}}, {{entry.thirdColumn}}</li>
          </ul>
        </div>
      </div>
    </div>
    <dev-ex />
    <enterprise-ready />
    <user-experience />
    <quick-start />
  </div>
</template>

<script lang="ts">
  import Stage           from '../Stage/Stage';
  import DevEx           from '../DevEx/DevEx';
  import EnterpriseReady from '../EnterpriseReady/EnterpriseReady';
  import UserExperience  from '../UserExperience/UserExperience';
  import QuickStart      from '../QuickStart/QuickStart';

  export default {
    metaInfo:   {
      title: 'vue-starter - flexible, scalable, opinionated, fast',
      meta:  [
        {
          name:    'description',
          content: 'vue-starter - A flexible, scalable, opinionated boilerplate for production-ready PWAs with focus on performance, development speed, and best practices',
        },
        {
          name:    'robots',
          content: 'INDEX,FOLLOW',
        },
        {
          name:    'keywords',
          content: 'vue.js, vuex, vuex-persist, seo, server-side-rendering, isomorphic, progressive-web-app',
        },

        { name: 'og:url', content: 'https://vue-starter.herokuapp.com/' },
        { name: 'og:site_name', content: 'vue-starter' },
        { name: 'og:type', content: 'website' },
        { name: 'og:locale', content: 'en' },
        {
          name:    'og:title',
          content: 'vue-starter - A flexible, scalable, opinionated boilerplate for production-ready PWAs with focus on performance, development speed, and best practices',
        },
        {
          name:    'og:description',
          content: 'vue-starter - A flexible, scalable, opinionated boilerplate for production-ready PWAs with focus on performance, development speed, and best practices',
        },
        { name: 'og:image:url', content: 'https://vue-starter.herokuapp.com/logo.png' },

        { name: 'twitter:card', content: 'summary' },
        { name: 'twitter:site', content: '@_jwerner_' },
        { name: 'twitter:creator', content: '@_jwerner_' },
        {
          name:    'twitter:title',
          content: 'vue-starter - A flexible, scalable, opinionated boilerplate for production-ready PWAs with focus on performance, development speed, and best practices',
        },
        { name: 'twitter:url', content: 'https://vue-starter.herokuapp.com/' },
        { name: 'twitter:image', content: 'https://vue-starter.herokuapp.com/logo.png' },
        {
          name:    'twitter:description',
          content: 'vue-starter - A flexible, scalable, opinionated boilerplate for production-ready PWAs with focus on performance, development speed, and best practices',
        },
      ],
    },
    components: {
      Stage,
      DevEx,
      EnterpriseReady,
      UserExperience,
      QuickStart,
    },
    data() {
      return {
        aColumn: 'all',
        bColumn: 'all',
        cColumn: 'all',
        firstSelectOptions: [],
        secondSelectOptions: [],
        thirdSelectOptions: [],
        options: [{
          firstColumn:  "A1",
          secondColumn: "B1",
          thirdColumn:  "C1",
          valid: ""
        },
        {
          firstColumn:  "A1",
          secondColumn: "B1",
          thirdColumn:  "C2",
          valid: ""
        },
        {
          firstColumn:  "A1",
          secondColumn: "B1",
          thirdColumn:  "C3",
          valid: ""
        },
        {
          firstColumn:  "A1",
          secondColumn: "B2",
          thirdColumn:  "C4",
          valid: ""
        },
        {
          firstColumn:  "A1",
          secondColumn: "B2",
          thirdColumn:  "C5",
          valid: ""
        },
        {
          firstColumn:  "A1",
          secondColumn: "B3",
          thirdColumn:  "C6",
          valid: ""
        },
        {
          firstColumn:  "A2",
          secondColumn: "B4",
          thirdColumn:  "C7",
          valid: ""
        },
        {
          firstColumn:  "A2",
          secondColumn: "B5",
          thirdColumn:  "C8",
          valid: ""
        },
        {
          firstColumn:  "A2",
          secondColumn: "B5",
          thirdColumn:  "C9",
          valid: ""
        },
        {
          firstColumn:  "A3",
          secondColumn: "B6",
          thirdColumn:  "C10",
          valid: ""
        }]
      };
    },
    computed:   {},
    methods: {
      updateSelects(exception = null){
        if (exception != 'exceptA') this.firstSelectOptions = [];
        if (exception != 'exceptB') this.secondSelectOptions = [];
        if (exception != 'exceptC') this.thirdSelectOptions = [];
        this.options.forEach(option => {
          if (option.valid.indexOf("b") < 0 && option.valid.indexOf("c") < 0 && this.firstSelectOptions.indexOf(option.firstColumn) < 0 && exception != 'exceptA'){
            this.firstSelectOptions.push(option.firstColumn);
          }
          if (option.valid.indexOf("a") < 0 && option.valid.indexOf("c") < 0 && this.secondSelectOptions.indexOf(option.secondColumn) < 0 && exception != 'exceptB'){
            this.secondSelectOptions.push(option.secondColumn);
          }
          if (option.valid.indexOf("a") < 0 && option.valid.indexOf("b") < 0 && this.thirdSelectOptions.indexOf(option.thirdColumn) < 0 && exception != 'exceptC'){
            this.thirdSelectOptions.push(option.thirdColumn);
          }
        })
      }
    },
    mounted() {
      this.updateSelects();
    },
    watch: {
      aColumn: function (newValue, oldValue) {
        if (oldValue == "all"){
          //doNothing
        } else {
          this.options.forEach(option => {
            if (option.valid.length > 0 && option.firstColumn != oldValue){
              option.valid = option.valid.replace('a', '');
            }
          })
        }
        if (newValue == "all"){
          //doNothing
        } else {
          this.options.forEach(option => {
            if (option.firstColumn != newValue){
              option.valid+="a";
            }
          })
        }
        this.updateSelects('exceptA');
      },
      bColumn: function (newValue, oldValue) {
        if (oldValue == "all"){
          //doNothing
        } else {
          this.options.forEach(option => {
            if (option.valid.length > 0 && option.secondColumn != oldValue){
              option.valid = option.valid.replace('b', '');
            }
          })
        }
        if (newValue == "all"){
          //doNothing
        } else {
          this.options.forEach(option => {
            if (option.secondColumn != newValue){
              option.valid+="b";
            }
          })
        }
        this.updateSelects('exceptB');
      },
      cColumn: function (newValue, oldValue) {
        if (oldValue == "all"){
          //doNothing
        } else {
          this.options.forEach(option => {
            if (option.valid.length > 0 && option.thirdColumn != oldValue){
              option.valid = option.valid.replace('c', '');
            }
          })
        }
        if (newValue == "all"){
          //doNothing
        } else {
          this.options.forEach(option => {
            if (option.thirdColumn != newValue){
              option.valid+="c";
            }
          })
        }
        this.updateSelects('exceptC');
      },
    },  
  };
</script>

<style lang="scss" module>
  @import "../../shared/styles";

  .home {
    h2 {
      text-shadow: 0 5px 10px rgba(0, 0, 0, 0.33);
    }

    :global {
      .vuePanel {
        height: 100%;
      }

      .vueGridItem {
        margin-bottom: $space-unit * 2;
      }

      .featureSection {
        padding: 0;
      }
    }

    @include media(tabletLandscape) {
      :global {
        .featureSection {
          padding: $space-unit * 15 0;
        }
      }
    }
  }
</style>
